[Unit]
Description=KIFYbot - Telegram bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 bot.py
ExecReload=/usr/bin/python3 bot.py
WorkingDirectory=/opt/KIFY_1/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
